@tailwind base;
@tailwind components;
@tailwind utilities;

.glassMorphism {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dots {
    width: 34.7px;
    height: 34.7px;
    display: flex;
    justify-content: space-between;
 }
 
 .dots::before,
 .dots::after {
    content: "";
    width: 13.4px;
    background: radial-gradient(farthest-side,#1c8dfd 90%,#0000) top,
           radial-gradient(farthest-side,#1c8dfd 90%,#0000) bottom;
    background-size: 13.4px 13.4px;
    background-repeat: no-repeat;
    transform-origin: 50% calc(100% - 6.7px);
    animation: dots-wila4g 1s infinite;
 }
 
 .dots::after {
    transform-origin: 50% 6.7px;
 }
 
 @keyframes dots-wila4g {
    70%, 100% {
       transform: rotate(-270deg);
    }
 }

 .glassPanel {
   backdrop-filter: blur(16px) saturate(180%);
   -webkit-backdrop-filter: blur(16px) saturate(180%);
   background-color: rgba(17, 25, 40, 0.93);
   border-radius: 12px;
   border: 1px solid rgba(255, 255, 255, 0.125);
 }